# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
xenon
build/
bin/

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake

# Python
__pycache__/
*.py[cod]
*$py.class

# Project specific
renders/*.png
!renders/cornell_final.png
!renders/wavefront_cornell.png
